<html>
    <head>
       <? include head ?>     
    </head>
    <body>
        <h1>Login</h1>
        <div class="container">
            <div class="row justify-content-center" style="background: red">
                <div class="col-8 col-md-4">
                    <form method="POST" action="#">
                        <div class="form-group">
                            <label for="inputUser">Username</label>
                            <input class="form-control" id="inputUser" name="userInput" type="text" placeholder="Username"></input>
                        </div>
                        <div class="form-group">
                            <label for="inputPass">Password</label>
                            <input type="password" class="form-control" name="passInput" id="inputPass" placeholder="Password"></input>
                        </div>   
                        <div class="" style="background: chartreuse; padding: 0 auto;">
                            <button type="submit" class="btn btn-primary center">Sign in</button>
                            <button type="button" class="btn btn-primary">Sign up</button>
                        </div>             
                    </form>
                <div>
            </div>
        </div>
    </body>
</html>